$primary-text-color: #1d6a83;

@mixin equal-bars {
  display: flex;
  width: 100%;
  height: 10%;
}

@mixin setMultiSize(
  $mobile-width,
  $mobile-height,
  $desktop-width,
  $desktop-height
) {
  width: $mobile-width;
  height: $desktop-height;
  @media screen and (min-width: 1023px) {
    width: $desktop-width;
    height: $desktop-height;
  }
}
