@use 'config';
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&family=Roboto:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary-color: #264676;
  --focus: #1597e2;
  --text-color: black;
  --title-bar-backgrond: #ffffff;
}

html[data-theme="dark"] {
  --focus: #06e0e7;
  --text-color: white;
  --primary-color: #273548;
  --title-bar-backgrond: #111;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../assets/img/cloudy_skys.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: "Play", sans-serif;
}
.app {
  background-color: #475277a1;
  min-height: 100vh;
  width: 100%;

  .app-title-bar {
    @include config.equal-bars;
    background-color: var(--title-bar-backgrond);
    align-items: center;
    justify-content: center;

    .app-title-text {
      color: var(--text-color);
      font-family: "Oswald", sans-serif;
      font-size: 1.5rem;

      .weather-text {
        color: config.$primary-text-color;
      }
    }
  }

  .app-bar {
    @include config.equal-bars;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
  }

  .location-search-bar {
    padding: 0.5rem;
    width: 40%;
  }

  .location-search-bar input {
    width: 100%;
    padding: 0.2rem;
    border: none;
  }

  .location-search-bar input:focus {
    outline: 1px solid var(--focus);
    border: 1px solid var(--focus);
  }

  .weather-card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .weather-card {
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-10%);
    background-color: var(--primary-color);
    @include config.setMultiSize(80%, 60%, 40%, 60%);
  }

  .forcasts {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }

  .individual-forcast {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
